<%inherit file="../base.html"/>
<%! from django.shortcuts import redirect,reverse %>
<%def name="content()">
<%
from app.model.video import VideoType,FromType,NationalityType
%>
<h1>外链视频</h1>
 <button class="btn btn-info open-btn"id="open_add_video_btn">创建</button>
<form class="form-horizontal edit-area" id="video_edit_area" action="" method="post">
    ${csrf_token}
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" name="name" class="form-control"  placeholder="视频名称">
    </div>
  </div>
     <div class="form-group">
    <div class="col-sm-10">
      <input type="text" name="image" class="form-control"  placeholder="海报">
    </div>
  </div>
     <div class="form-group">
    <div class="col-sm-10">
        <label>视频类型:</label>
        <select class="form-control forcon"name="video_type">
      %for video_type in VideoType:
        <option value="${video_type.value}" >${video_type.label}</option>
       %endfor
            </select>
    </div>
  </div>
       <div class="form-group">
    <div class="col-sm-10">
        <label>演员国籍:</label>
        <select class="form-control forcon" name="nationality">
        %for nationalityType in NationalityType:
  <option value="${nationalityType.value}" >${nationalityType.label}</option>
        %endfor
            </select>
    </div>
  </div>
     <div class="form-group">
    <div class="col-sm-10">
        <label>视频来源:</label>
        <select class="form-control forcon"name="from_to">
      %for from_to in FromType:
            %if from_to != FromType('custom'):
        <option value="${from_to.value}" >${from_to.label}</option>
            %endif
       %endfor
            </select>
    </div>
  </div>
  <div class="form-group de">
    <div class="col-sm-10">
        <label>视频简介:</label>
      <textarea name="info" class=" video_descript form-control"placeholder="视频简介"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 btne ">
      <button type="submit" class="btn btn-default btn-info">添加</button>${error}
    </div>
  </div>
</form>
<table class="table">
    <thead>
    <tr>
        <th>名称</th>
        <th>海报</th>
        <th>视频类型</th>
        <th>视频来源</th>
        <th>国籍</th>
        <th>描述</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    %for video in videos:
    <tr>
        <td>${video.name}</td>
        <td><img class="video_images" src="${video.image}"/></td>
        <td>${video.video_type}</td>
        <td>${video.from_to}</td>
        <td>${video.nationality}</td>
        <td><p class="info">${video.info}</p></td>
        <td>${video.status}</td>
        <td>${video.created_time}</td>
        <td>${video.updaed_time}</td>
        <td><a href="">编辑|</a><a href="${reverse('video_sub',kwargs={'video_id':video.id})}">附属信息</a> </td>
    </tr>
    %endfor
    </tbody>
</table>
</%def>
<%def name="css()">
<link href="/static/dashboard/css/externa_video.css" rel="stylesheet">
</%def>
<%def name="js()">
<script src="/static/dashboard/js/externa_video.js"></script>
</%def>